.ci-container{
  /* border: 1px black solid; */
  width: 100%;
  height: 8em;
  background-image: url('../../images/ishan-seefromthesky-1113279-unsplash\ copy.jpg');
  display: flex;
  justify-content: center;
  align-items: center;

}
/* input[type=date] {
  height: 2em;
  margin: 0px 2em;
  border: none;
} */